@inherits LayoutComponentBase

<PageTitle>Bonoz </PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    @*<div class="container-fluid bg-purple">
        <TopNavBar />
    </div>
    <div class="container-fluid flex-grow-1">
        @Body
    </div>*@
    <main>
        <div class="top-row px-4">
            <TopNavBar />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
