# ASP.NET Core artifacts
bin/
obj/

# Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Rider files
.idea/

# NuGet packages
*.nuget.props
*.lock
packages/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code files
.vscode/

# Other tools
_ReSharper*/
*.resharper
*.dotCover
*.dotSettings
*.json
*.xml
*.html
*.txt
*.md
*.png
*.jpg
*.jpeg
*.gif
*.tif
*.tiff
*.ico
*.bmp
*.pdf
*.yaml
*.yml
*.config
*.ps1
*.dll
*.pdb
*.cache
*.log
*.csv
*.bak
*.sql
/src/BonozLtdSolution/.vs/BonozLtdSolution/v17/.suo
