@inherits UsersListBase

<h3>Users</h3>
<ul class="list-group list-group-flush">
    @if (Loading)
    {
        <li class="list-group-item">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </li>
    }
    else
    {
        foreach (var user in Users)
        {
            <li class="list-group-item" @onclick="() => HandleUserClick(user)">
                @user.Name
                <span class="badge rounded-pill bg-@(user.IsOnline ? "success" : "danger")">.</span>
            </li>
        }
    }
</ul>